/*seasonal page start */
body.seasonalbody {
    /* Image credit: Provided Hollow Creek Farm asset folder. Licensed for class use. */
    background-image: url("../Client Files/Website Background Patterns/ChatGPT Image Apr 29, 2026, 10_30_56 PM (7).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.seasonaltitle {
    width: 90%;
    color: #1F3F1E;
    background-color: #D9AE5E99;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    text-decoration: underline;
    font-weight: 900;
    padding: 1rem 1rem;
    margin: 0.6rem auto 1rem auto;
    border-radius: 20px; 
    border: 5px solid #1F3F1E;
}
